<h1> Here are your Links: </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      <% link.tags.each do |tag| %>
        Tags: <%= tag.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<form action='/links/new' method='get'>
  <input type="submit" value="Add a new link">
</form>
